In [5]:
# Variables
x = 4
y = 5
x + y

9

In [6]:
# Data Types: Strings
name = "Kevin"

In [8]:
city = "Austin"

In [9]:
state = "Texas"

In [13]:
citystate = state + city

In [20]:
# Data Types
# What are Operators?
# Arithmetic Operators: + - / * ** // %
x = 2
y = 3
z = x % y

In [21]:
z

2

In [22]:
# Assignment: = += -= *= /=
x = 2

In [23]:
x

2

In [24]:
x = 2
x = x +10
# Alternate way:
x +=10

In [25]:
# Comparison: == != > < >= <=
x = 2
y = 3
x == y # == means "is equal to?"

False

In [27]:
x != y # is not equal to?

True

In [28]:
x > y

False

In [29]:
# Logical: and or not

In [31]:
# Expression: some type of combinations of variables to go a certain thing
# Functions: Allows us to do things
print('hello world')

hello world

In [33]:
greeting = 'Hello, world!'

In [34]:
print(greeting)

Hello, world!

In [36]:
# Arguments are things passed through functionsm
# Create a program to welcome the user
name = input("Hello, what's your name")
print("Hello,", name)

Hello, what's your name 'Kevin'

Hello, 'Kevin'

In [39]:
print("Hello,", input("Hello, what's your name?"))

Hello, what's your name? 'Kevin'

Hello, 'Kevin'

In [40]:
# type ()
x = 4
y = 5
name = "Bill"

In [44]:
x = "4"
x = 4

In [45]:
print(x)

4

In [46]:
type(x)

int

In [47]:
print(type(x)) # tells us waht data type an argument is

<class 'int'>

In [48]:
# Casting: Converting one data type to a different data type
# Convert str to an int
x = "4"
type(int(x))

int

In [49]:
x = "4"
type(str(x))

str

In [50]:
bool(4)

True

In [52]:
x = "4"
type(float(x))

float

In [53]:
# Complex Data types
# Data collections allow us to store mutliples of the basic data types
# 1: Lists
# collections of many different data types in a list
example_list = []

In [55]:
print(example_list)

[]

In [56]:
# Create a list of Ice Cream Flavors
example_list = ['Vanilla', 'Chocolate', 'Rocky Road', 'Cookie Dough']

In [58]:
print(example_list)

['Vanilla', 'Chocolate', 'Rocky Road', 'Cookie Dough']

In [60]:
# Create a List of Data about yourslef
personal_info = ['Kevin', 31, 'Data Analytics', 'Data Science', False]
name = 'Kevin'
age = 31
enrolled_in = 'Data Analytics'
area_of_interest = 'Data Science'
in_education = False

In [61]:
# Dictionary
example_dictionary = {} # curly brackets

In [62]:
print(example_dictionary)

{}

In [ ]:
example_dictionary = 
{
    "name" : 'Kevin'
    "age" = 31
    "enrolled_in" = 'Data Analytics'
    "in_education" = False
}